<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.w3.org/1999/XSL/Transform">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new movie</title>
    <link rel ="stylesheet" type="text/css" th:href ="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
            <h1>Movie Managment App</h1>
            <hr>
            <h2>Add New Movie</h2>

            <form   th:object="${movieDetails}" th:action="@{/index/addmovie}"  method="POST">
                <input type="hidden" th:field="*{movie_id}" th:value="${movieDetails.movie_id}"/>

                <label class="col-form-label col-sm-4">Movie Name:</label>
                <input type="text" th:field="*{movie_name}" placeholder="Movie name" class="form-control mb-4 col-4" required>
                <label class="col-form-label col-sm-4">Movie Category:</label>
                <select th:field="*{category_id}" class="form-control" required>
                    <th:block th:each="category:${categoryList}">
                        <option th:text="${category.category_name}" th:value="${category.category_id}" />
                    </th:block>
                </select>
                <hr>
                <button type="submit" class="btn btn-info col-2">Add Movie</button>
            </form>

    </div>

</body>
</html>